.topicHeader{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 2rem;
}

.seasonTitle{
    color: darkgoldenrod;
    font-size: 24px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    justify-self: start;
    display: flex;
}

.topicTitle{
    font-size: 48px;
}

.vidBtn{
    font-size: 24px;
    color: #17ffff;
    background-color:#2ac3d16b;
    padding: 5px;
    border-radius: 5px;
}